body {
  background-color: #fcf4e8;
  width: 100%;
  font-size: 24px;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-left: 10%;
}

a{
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 1em;
  line-height: 30px;
  margin-left: 20px;
  font-family: 'Indie Flower', cursive;
  width: 90%;
  margin-left: 5%;
}

h1{
  color: #000;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

h2 {
  color: #000;
  font-family: 'Indie Flower', cursive;
}

.hr {
  width: 80%;
  margin-left: 10%;
  color: gray;
  margin-top: 60px;
  margin-bottom: 50px;
}
.dogs {
  float: left;
}

.dogs:nth-child(2),
.dogs:nth-child(4){
  margin-left: 40px;
}

.dogs h2 {
  margin-left: 10%;
}

.content {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 1200px;
  width: 75%;
}
